.contact{
  width: 60%;
  margin-top:30px;
  margin-left: 20%;
  position: absolute;
  padding: 30px;
  padding-left: 5%;
  padding-right: 5%;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);

  border: 1px solid transparent;
  border-image: linear-gradient(140deg,#19829cd7 ,#db1c1cbe );
  border-image-slice: 1;
  box-shadow: 0 10px 20px rgba(0, 150, 200, 0.397);

}


.toss_contact_image{
  padding-left: 10%;
}

.center{
  margin-bottom: 60px;

}
.text{
  margin:20px 20px 10px 0px;
}
.text1{
  margin:20px 20px 30px 30px;
  color:#cc4e5c;
  font-size: 50px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text2{
  margin:20px 20px 30px 0px;

  color:#fff;
  font-size: 50px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.text3{
  margin:5px 10px 5px -140px;
  text-align: left;
  color:#c0bdbdd8;
  font-size: 20px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.text4{
    margin:0px 10px 50px -120px;
    text-align: left;
    color:#c0bdbdd8;
    font-size: 20px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  
}
.left{
  width:60%;

}
.left_content{
  width:90%;
}
.report_content{
  margin-top:20px;
  padding: 20px;
  height:650px;
  width:950px;
  border-radius: 10px;
  border: 1px solid transparent;
    border-image: linear-gradient(140deg,#19829cd7 ,#db1c1cbe );
    border-image-slice: 1;
    box-shadow: 0 10px 20px rgba(175, 36, 66, 0.397);


}
.lebel_content{
  color:#fff;
  font-size: 18px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.field{
  width:100%;
  padding:10px 10px 5px 25px;

}
.inputBox{
  position: relative;
  
}
.right{
width:40%;
}
.img_report{
  align-items: top;
  margin: 20px 20px 20px 0;
  width:90%;
  height:auto;
  margin-bottom: 40px;

}
.input{
  width:100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #947b53b4;
  color:aliceblue;
  background: transparent;
  font-size: 15px;
}
.lebel_content{
  height:100%;
  position: absolute;
  left:0;
  top:0;
  padding: 10px;
  color:#cecccc;
  cursor: text;
  transition: 0.2s;
}
.button_area{
  position: relative;
  padding: 10px 0;
  color:#cecccc;
  outline: none;
  background: transparent;
  border: 1px solid #b49967bd;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


  
  transition: all 0.7s ;


}
.report_icon{
  display: inline-block;
    color:#cc4e5c;
    margin:0px 2px 0 2px;
    font-size: 16px;

}

.button_area::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  border: 1px solid #dbaf5dce ;
  color:#fff;
  background:  linear-gradient(to right, #d14656dc, #b31212bd);
  z-index: -1;
  transition: transform .4s ease;
  transform: scaleX(0);
  transform-origin: bottom right;
}

.button_area:hover::before {
  color:#fff;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.input:focus ~ .lebel_content,
.input:valid ~ .lebel_content

{

  top:-32px;
  font-size: 15px;
  background: transparent;
}
