.toss_form_div1{
    width: 75%;
    margin: 90px 0 20px 13%;
    padding: 40px 4% 40px 4%;

    position: absolute;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid transparent;
    border-image: linear-gradient(140deg,#19829cd7 ,#db1c1cbe );
    border-image-slice: 1;
    box-shadow: 0 10px 20px rgba(0, 150, 200, 0.397);
}
.toss_form_txt1{
    color: #5ED1D1;
    font-size: 30px;
    text-align: center;
    font-weight:500;
}

.toss_text_box_design1{
font-size: 16px;
color: rgb(214, 220, 224);
border-bottom: 2px solid #19829cd7;
}
.toss_text_box_design1:invalid{
border-bottom: 2px solid #19829cd7;
}
.toss_text_box_design1:valid{
border-bottom: 2px solid #5ED1D1;
}

.toss_text_box_design1:focus ~ .toss_text_box_label_design1{
color: #5ED1D1;
}

.toss_radio_button_design1{
    color: #5ED1D1;
     background-color: transparent;
}
.toss_radio_button_label_design1{
    color: rgba(214, 220, 224, 0.663);
   
}
.toss_radio_button_design1:focus ~ .toss_radio_button_label_design1{
    color: #5ED1D1;
}

.toss_radio_button_title_design1{
    color: #5ED1D1;
    font-size: 14px;
    margin-top: -10px;
    padding-bottom: 10px;
}
.toss_radio_button_design1:focus ~ .toss_radio_button_title_design1{
    color: #5ED1D1;
}


.toss_avilable_login_label{
    text-align: center;
    color: #979797;
}

.toss_avilable_login_link{
    text-align: center;
    color: #5ED1D1;
    text-decoration: none;
    transition: all 0.3s ease;

}

.toss_avilable_login_link:hover{
    text-align: center;
    color: #6ecd79;
    font-size: 18px;
    transition: all 0.3s ease;
}

.toss_form_div_loginform{
    width: 50%;
    margin-top: 30px;
    position: absolute;
    left: 25%;
    padding: 50px;
   
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    border: 1px solid transparent;
    border-image: linear-gradient(140deg,#19829cd7 ,#db1c1cbe );
    border-image-slice: 1;
    box-shadow: 0 10px 20px rgba(0, 150, 200, 0.397);
}

.toss_login_icon{
    margin-right: 5px;
}

.toss_login_image{
    align-items: right;
    margin: 20px 20px 20px 20px;
    width:90%;
    height:auto;
  }

  .toss_rememberme_label{
    color: #5ED1D1;
  }

  .toss_login_hr{
    background-color: #5ED1D1;
    border-radius: 5px;
    font-weight: bold;
    padding-bottom: 2px;
  }

  .toss_text_box_error1{
    color: #5ED1D1;
  }


  .toss_text_area_design1{
    resize: none;
    font-size: 16px;
    color: rgb(214, 220, 224);
    border-bottom: 2px solid #19829cd7;
    }
    .toss_text_area_design1:invalid{
    border-bottom: 2px solid #19829cd7;
    }
    .toss_text_area_design1:valid{
    border-bottom: 2px solid #5ED1D1;
    }
    
    .toss_text_area_design1:focus ~ .toss_text_box_label_design1{
    color: #5ED1D1;
    }
    